{%extends 'base.html'%} {% block content%} {% load static%}

<body>

  <!-- Navigation -->




  <!-- Page Content -->
  <div class="container">
    
    <div class="col-sm-9 container mt-3">
    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>

       
        <div class="carousel-inner" role="listbox">
        
          <div class="carousel-item active" style="background-image: url('{{img1}}')">
            <div class="carousel-caption d-none d-md-block">
             
            </div>
          </div>
 
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('{{img2}}')">
            <div class="carousel-caption d-none d-md-block">
             
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('{{img3}}')">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>
  </div>

  <div class="col-sm-9 container mt-3">
    <h1 class="my-4">News / Social Feed</h1>


    <!-- /.row -->

    <!-- Features Section -->


    {% for news in newsfeed %}
    <div class="row container">
    
        <div class="col-lg-6">
          <p>{{news.title}}</p>
          
          <p>{{news.description}}</p>
      </div>
      <div class="col-lg-6 mt-5">
        <img class="img-fluid rounded" src="{{news.image1.url}}" alt="">
      </div>
    </div>
    {% endfor %}
     

    <!-- /.row -->

    <hr>
  </div>


  </div>
  <!-- /.container -->
  {% endblock %}
