{%extends 'base.html'%} {% block content%} {% load static%}

<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="col-sm-9 container mt-3">

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
    </ol>
  
    <form class="form-inline my-4 my-lg-5  ">
      <input class="form-control custom-input" type="text"  placeholder="Search in Products" aria-label="Search"  name='q' value='{{ request.GET.q }}'>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <!-- Intro Content -->
    {% for prod in product%}
    <div class="alert alert-primary text-center mt-5" role="alert">
        {{prod.product_name}}
      </div>
    <div class="row  mt-5">
        
     
        <div class="col-lg-5">
            <img class="img-fluid rounded mb-3" src="{{prod.product_image.url}}" alt="">
        </div>
        <div class="col-lg-6">
            <table class="table table-condensed  table-customized" style="font-size:xx-small ;">
                <thead class="thead-dark ">
                    <tr>
                    
                    <th class="thead-customized" scope="col">Properties</th>
                    <th class="thead-customized" scope="col">Unit</th>
                    <th class="thead-customized" scope="col">Value</th>
                    <th class="thead-customized" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">Weight ( +-%10)</th>
                    
                    <td>{{prod.weight_unit}}</td>
                    <td>{{prod.weight_value}}</td>
                    </tr>
                    <tr>
                    <th scope="row">Weft Yarn</th>
                    <td>{{prod.weft_yarn_unit}}</td>
                    <td>{{prod.weft_yarn_value}}</td>
                    <td></td>
                    </tr>
                    <tr>
                    <th scope="row">Warp Yarn</th>
                    <td>{{prod.warp_yarn_unit}}</td>
                    <td>{{prod.warp_yarn_value}}</td>
                    <td></td>
                    </tr>
                    <tr>
                    <th scope="row">Pattern</th>
                    <td>{{prod.patern_unit}}</td>
                    <td>{{prod.patern_value}}</td>
                    <td></td>
                    </tr>
                    <tr>
                    <th scope="row">MD Tensile Strength</th>
                    <td>{{prod.md_tensile_strength_unit}}</td>
                    <td>{{prod.md_tensile_strength_value}}</td>
                    <td></td>
                    </tr>
                    <tr>
                    <th scope="row">CD Tensile Strength</th>
                    <td>{{prod.cd_tensile_strength_unit}}</td>
                    <td>{{prod.cd_tensile_strength_value}}</td>
                    <td></td>
                    </tr>
                    <tr>
                    <th scope="row">Elongation at Break</th>
                    <td>{{prod.elongation_at_break_unit}}</td>
                    <td>{{prod.elongation_at_break_value}}</td>
                    <td></td>
                    </tr>
    
                    <tr>
                    <th scope="row">Coating</th>
                    <td>{{prod.coathing_unit}}</td>
                    <td>{{prod.coathing_value}}</td>
                    <td></td>
                    </tr>
    
                    <tr>
                    <th scope="row">Core Size</th>
                    <td>{{prod.core_size_unit}}</td>
                    <td>{{prod.core_size_value}}</td>
                    <td></td>
                    </tr>
    
                    <tr>
                    <th scope="row">Role Width</th>
                    <td>{{prod.role_width_unit}}</td>
                    <td>{{prod.role_width_value}}</td>
                    <td></td>
                    </tr>
                    <tr>
                        <th scope="row">Role Length</th>
                        <td>{{prod.role_length_unit}}</td>
                        <td>{{prod.role_length_value}}</td>
                        <td></td>
                        
                        </tr>
                    <tr>
                    <th scope="row">Yarns Type</th>
                    <td>{{prod.yarns_type}}</td>
                    
                    <td></td>
                    <td></td>
                    </tr>
                    <tr>
                    <th scope="row">Construction</th>
                    <td>{{prod.constructions}}</td>
                    <td></td>
                    <td></td>
                    </tr>
                    <tr>
                    <th scope="row">Patterns</th>
                    <td>{{prod.patterns}}</td>
                    <td></td>
                    <td></td>
                    </tr>
                    <tr>
                    <th scope="row">Bondings</th>
                    <td>{{prod.bondings}}</td>
                    <td></td>
                    <td></td>
                  
                    </tr>
    
                </tbody>
                </table>
        </div>
    </div>
    {%endfor%}
        
      

    <div class="container">
        {% if is_paginated %}
        {% if page_obj.has_previous %}
        <a class="btn btn-outline-dark mb-4" href="?page=1" >First</a>
        <a class="btn btn-outline-dark mb-4" href="?page={{page_obj.previous_page_number}}" >Previous</a>
        {% endif %}
      {% endif %}
        {% for num in page_obj.paginator.page_range  %}
          {% if page_obj.number == num %}
            <a class="btn btn-dark mb-4" href="?page={{num}}" >{{num}}</a>
          {% elif num > page_obj.number|add:'-3'  and num < page_obj.number|add:'+3' %}
             <a class="btn btn- outline-dark mb-4" href="?page={{num}}">{{num}}</a>
          {% endif %}
        {% endfor%}
        {% if page_obj.has_next %}
        <a class="btn btn-outline-dark mb-4" href="?page={{obj.paginator.num_pages}}" >First</a>
        <a class="btn btn-outline-dark mb-4" href="?page={{page_obj.next_page_number}}" >Next</a>
        {% endif %}
    </div>
</div>
</div>




{%endblock%}